#Uses a Godil Module
#
#NET "GND"			LOC = "P23" ;									# Pin 1
NET "A0"  			LOC = "P33" | IOSTANDARD = LVCMOS33 ; 	# Pin 2
NET "nCS"	  		LOC = "P32" | IOSTANDARD = LVCMOS33 ;	# Pin 3
NET "CLK1"  		LOC = "P34" | IOSTANDARD = LVCMOS33 ;	# Pin 4
NET "CLK2"  		LOC = "P40" | IOSTANDARD = LVCMOS33 ;	# Pin 5
NET "CLK4"  		LOC = "P41" | IOSTANDARD = LVCMOS33 ;	# Pin 6
NET "CLK8"  		LOC = "P36" | IOSTANDARD = LVCMOS33 ;	# Pin 7
NET "CLK16" 		LOC = "P35" | IOSTANDARD = LVCMOS33 ;	# Pin 8
NET "B_IN"			LOC = "P53" | IOSTANDARD = LVCMOS33 ;	# Pin 9
NET "B"				LOC = "P54" | IOSTANDARD = LVTTL ;	# Pin 10
NET "G_IN"			LOC = "P57" | IOSTANDARD = LVCMOS33 ;	# Pin 11
NET "G"				LOC = "P58" | IOSTANDARD = LVTTL ;	# Pin 12
NET "R_IN"			LOC = "P60" | IOSTANDARD = LVCMOS33 ;	# Pin 13
NET "R"				LOC = "P61" | IOSTANDARD = LVTTL ;	# Pin 14
#NET "V2"			LOC = "P" ;										# Pin 15
#NET "V1"			LOC = "P" ;										# Pin 16
NET "DI_CPU<0>"	LOC = "P70" | IOSTANDARD = LVCMOS33 ;	# Pin 17
NET "DI_CPU<1>"	LOC = "P71" | IOSTANDARD = LVCMOS33 ;	# Pin 18
NET "DI_CPU<2>"	LOC = "P86" | IOSTANDARD = LVCMOS33 ;	# Pin 19
NET "DI_CPU<3>"	LOC = "P84" | IOSTANDARD = LVCMOS33 ;	# Pin 20
NET "DI_CPU<4>"	LOC = "P83" | IOSTANDARD = LVCMOS33 ;	# Pin 21
NET "DI_CPU<5>"	LOC = "P78" | IOSTANDARD = LVCMOS33 ;	# Pin 22
NET "DI_CPU<6>"	LOC = "P79" | IOSTANDARD = LVCMOS33 ;	# Pin 23
NET "DI_CPU<7>"	LOC = "P85" | IOSTANDARD = LVCMOS33 ;	# Pin 24
NET "CURSOR"		LOC = "P92" | IOSTANDARD = LVCMOS33 ;	# Pin 25
NET "DISEN" 		LOC = "P98" | IOSTANDARD = LVCMOS33 ;	# Pin 26
#NET "nINVERT"		LOC = "P3" | IOSTANDARD = LVCMOS33 ;	# Pin 27
NET "CRTC_CLK" 	LOC = "P2" | IOSTANDARD = LVCMOS33 ;	# Pin 28
